/* Estilos básicos del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    background: url('./imagenes/5.gif') no-repeat center center fixed; /* Añadir esta línea */
    background-size: cover; /* Añadir esta línea */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

/* Contenedor principal */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 20px;
}

/* Contenedor de notas a los lados */
.notes-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin: 20px;
}

/* Estilo del título */
h1 {
    color: #ff69b4;
}

/* Estilo del reloj */
.clock {
    font-size: 24px;
    color: #ff69b4;
    margin-bottom: 20px;
}

/* Estilos para los inputs y botones */
input, select, button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Estilos de los botones */
button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

/* Estilos de las notas */
.note {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos de los botones de editar y eliminar */
.edit-button, .delete-button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    background: #ff1493;
}

/* Estilo del botón de reconocimiento de voz */
#voiceButton {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #ff69b4;
    color: #fff;
    cursor: pointer;
    width: calc(100% - 20px);
}

#voiceButton:hover {
    background-color: #ff1493;
}

/* Estilo para la casilla de verificación */
.checkbox {
    align-self: flex-end;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

@media (min-width: 768px) {
    body {
        flex-wrap: nowrap;
    }

    .notes-side-container {
        width: 200px;
    }
}
